$blue: #6F9196;
$blue-bering: #8EA0A3;
$blue-slate: #B5C4C7;
$blue-shale: #7f8f92;
$blue-sapphire: #0793E8;
$blue-seashore: #13BBFF;
$red-crimson: #f22f2f;
$red-salmon: #e45d5d;
$red-love: #fd8d8d;
$green-lush: #5fda68;
$green-lime: #a5ef9f;
$yellow-canary: #FFEEA8;
$yellow-custard: #fff7d4;
$tan: #DBD5BF;
$gray-granite: #232323;
$gray-doom: #5b646c;
$white-off: #f9f9f9;
$white: #ffffff;

@mixin transition($time){
	-webkit-transition: all $time;
	-moz-transition: all $time;
	-o-transition: all $time;
	transition: all $time;
}
@mixin font-oxygen(){
	font-family: "Oxygen", sans-serif;
}
@mixin font-roboto(){
	font-family: "Roboto", sans-serif;
}
@mixin font-lato(){
    font-family: "Lato", sans-serif;
}
@mixin color(){
	width:20px;
	height:20px;
	border-radius:10px;
	position:relative;
}
*{
	box-sizing:border-box;
}
div{
    overflow:hidden;
}
body{
	margin:0;
	padding:0;
	font-weight:400;
    font-size:1.2em;
	box-sizing:border-box;
	background-color:$white;
	width:100%;
	@include font-lato;
}

.main{
	padding:40px;
	box-shadow: 0px 3px 3px rgba(0,0,0,.3);
	border-radius:5px;
	width:100%;
	max-width:1200px;
	overflow:hidden;
	margin:20px auto;
	background-color:$white;
}

header{
	@include font-oxygen;
    color:$blue;
    margin:0;
}
h1{
	@extend header;
	font-size:2.2em;
    margin-bottom:10px;
	font-weight:700;
}
h2{
	@extend header;
	font-size:1.6em;
    margin-bottom:5px;
	font-weight:400;
}
h3{
    @extend header;
    font-size:1.3em;
    font-weight:400;
}
p{
	color: $gray-doom;
	line-height:1.4em;
	font-size:1em;
	font-weight:300;
}
a{
    color:$blue;
    text-decoration:none;
    @include transition(.3s);
}
a:hover{
    color:$blue-slate;
}
ul{
    padding:0;
}
.container{
    max-width:1200px;
    margin:0 auto;
}
.center{
    margin:0 auto;
    display:block;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}
.text-center{
    text-align:center;
}
.word-wrap{
       
}

/* GRID SYSTEM 
-------------------------------------------------------*/
.grid{
    overflow:hidden;
    margin:20px auto;
    div{
        float:left;
    }
    .clear{
        clear:both;
    }
	.grid-1-2{
		width:50%;
	}
    .grid-1-2:nth-child(odd){
        padding-left:0px;
        padding-right:20px;
    }
    .grid-1-2:nth-child(even){
        padding-left:20px;
        padding-right:0px;
    }
	.grid-1-3{
		width:33.33333333%;
	}
    .grid-1-3:nth-child(3n-1){
        padding-left:20px;
        padding-right:20px;
    }
    .grid-1-3:nth-child(3n-2){
        padding-right:20px;
        padding-left:0px;
    }
    .grid-1-3:nth-child(3n){
        padding-right:0px;
        padding-left:20px;
    }
	.grid-1-4{
		width:25%;
	}
	.grid-1-6{
		width:16.66666666%;
	}
	.grid-1-8{
		width:12.5%;
	}
	.grid-1-12{
		width:8.333333333%;
	}
	.grid-2-3{
		width:66.66666666%;
	}
	.grid-5-6{
		width:83.33333333%;
	}
	.grid-3-8{
		width:37.5%;	
	}
	.grid-5-8{
		width:62.5%;
	}
	.grid-5-12{
		width:41.666666666%;
	}
	.grid-7-12{
		width:58.333333333%;
	}
	.grid-11-12{
		width:91.666666666%;
	}
}


/*  Style guide  */

.colors{
	overflow:hidden;
}
.colors > div{
	float:left;
	margin-right:40px;
    overflow:visible;
}
.color{
	display:inline-block;
    overflow:visible;
	margin:5px;
		.blue{
			background-color:$blue;
		}
		.blue-bering{
			background-color:$blue-bering;
		}
		.blue-slate{
			background-color:$blue-slate;
		}
		.blue-sapphire{
			background-color:$blue-sapphire;
		}
		.blue-seashore{
			background-color:$blue-seashore;
		}
		.red-crimson{
			background-color:$red-crimson;
		}
		.red-salmon{
			background-color:$red-salmon;
		}
		.red-love{
			background-color:$red-love;
		}
		.green-lush{
			background-color:$green-lush;
		}
		.green-lime{
			background-color:$green-lime;
		}
		.gray-granite{
			background-color:$gray-granite;
		}
		.gray-doom{
			background-color:$gray-doom;
		}

		.white-off{
			background-color:$white-off;
		}
}
.color div{
	@include color;
	@include transition(.3s); 
}
.color div:hover{
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}



/* INPUT STYLES 
----------------------------------------------------*/

input, textarea{
	outline:none;
	margin: 5px 0 10px 0px;
	width:100%;
    color:#ddd;
	border:1px solid #eee;
	box-shadow:3px 3px 3px rgba(60,60,60,.02) inset;
	padding:15px;
    font-size:1em;
    font-weight:300;
	display:inline-block;
	border-radius:3px;
	@include font-roboto;
}
.inputs{
	margin-top:20px;
	width:100%;
}
textarea{
    height:300px;
    resize:none;
}
label{
	@include font-oxygen;
	text-transform:uppercase;
	color:$gray-doom;
	font-size:10px;
	margin-top:10px;
}
input[type="text"], input[type="password"], input[type="email"], textarea{
	background-color: $white-off;
    letter-spacing:1px;
    font-weight:300;
	@include transition(.3s);
}
input[type="text"].error{
	@extend input[type="text"];
	background-color:#f9eded;
	color:$red-love;
	border:1px solid $red-love;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus{
	border:1px solid $blue-shale;
    color:$blue-shale;
}
input[type="text"].error:focus{
	color:$red-crimson;
	background-color:$red-love;
	border:1px solid $red-crimson;
}


/* NAVIGATION STYLES
----------------------------------------------------------*/

.top-nav{
    width:100%;
    background-color: $gray-granite;
    color: $white-off;
    a{
        color:$blue-slate;
        @include transition(.3s);
    }
    a:hover{
        color:$white;
    }
}
.top-nav__list {
    .progress-bar{
        padding:0;
        margin:0;
        position:relative;
        top:5px;
        display:inline-block;
        margin:0 20px;
        li{
            display:inline;
            list-style:none;
            margin-bottom:10px;
        }
        li:hover ~ .left-section{
            width:100%;	
        }
        li:hover ~ .right-section{
            width:0%;	
        }
        .left-section{
            overflow:hidden;
            height:2px;
            width:0%;
            margin-top:5px;
            display:inline-block;
            float:left;
            background-color:$blue-shale;
            -webkit-transition: width .25s;
            -moz-transition: width .25s;
            -o-transition: width .25s;
            transition: width .25s;
        }
        .right-section{
            height:2px;
            width:100%;
            margin-top:5px;
            display:inline-block;
            float:left;
            background-color:$gray-granite;
            -webkit-transition: width .25s;
            -moz-transition: width .25s;
            -o-transition: width .25s;
            transition: width .25s;
        }
    }
}


/* FOOTER STYLES 
----------------------------------------------------------*/

footer{
    background-color:$blue-shale;
    border-top:5px $blue-shale solid;
    margin-top:20px;
    padding:20px;
    color:#465254;
    font-size:.7em;
    ul{
        list-style:none;
        li{
            a{
                color:$white;
            }
            display:inline-block;
            margin-right:40px;
        }
    }
}


/* BUTTON STYLES
-----------------------------------------------------------*/

.btn{
    border-radius:3px;
    padding:10px;
    width:200px;
    font-size:1.0em;
    color:$white;
    display:inline-block;
    margin-right:20px;
    @include font-oxygen;
}
.btn:hover{
    cursor:pointer;
}
.btn__yellow{
    background-color:$yellow-canary;
    border: 3px solid $yellow-canary;
    @include transition(.3s);
}
.btn__yellow:hover{
    background-color:$yellow-custard;
    border: 3px solid $yellow-custard;
}
.btn__submit{
    background-color:$blue;
    border: 3px solid $blue;
    @include transition(.3s);
}
.btn__submit:hover{
    background-color:#7db4bc;
    border: 3px solid #7db4bc;
}
.btn__clear{
    background-color:$red-salmon;
    border: 3px solid $red-salmon;
    @include transition(.3s);
}
.btn__clear:hover{
    background-color:$red-love;
    border: 3px solid $red-love;
}
/* Ghost button styles must be at bottom of button style list */
.btn__ghost{
    background-color:transparent;
}
.btn__ghost.btn__clear{
    color:$red-love;
    border:3px solid $red-love;
    @include transition(.3s);
}
.btn__ghost.btn__clear:hover{
    background-color:$red-salmon;
    border:3px solid $red-salmon;
    color:$white;
}


/* IMAGE STYLES 
-----------------------------------------------------------*/

/* hero image */
.hero-img{
    background-image:url('../img/hero.png');
    background-size:cover;
    height:423px;
    text-align:center;
    padding:20px 0 0 0;
    margin: 0 0 40px 0;
    h1, p{
        color:$white;
    }
    h1{
        text-shadow: 1px 2px 1px rgba(0,0,0,.2);
        padding-top:40px;
    }
    p{
        text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    }
    .logo{
        width:100px;
        margin:20px auto 0 auto;
        display:block;
    }
    .btn{
        color:$blue;
    }
}

.featured{
    max-width:1000px;
    margin-bottom:40px;
    img{
        width:150px;
    }
    h3{
        color:$blue;
        margin-top:10px;
    }
}

.about-me__img{
    width:200px;
    float:left;
    margin:0 40px 20px 0;
}