$black: #000000;
$primary-color: #ffe86a;
$dark-gray: #101010;
$granite: #595959;
$white:#ffffff;


@font-face {
    font-family: 'BebasNeue';
    src: url("../fonts/BebasNeue Regular.otf");
}
@font-face {
    font-family: 'Open';
    src: url("../fonts/OpenSans-Regular.ttf");
}

@mixin transition($time){
	-webkit-transition: all $time;
	-moz-transition: all $time;
	-o-transition: all $time;
	transition: all $time;
}
@mixin font-open(){
    font-family: "Open", sans-serif;
}
@mixin font-bebas(){
    font-family: "BebasNeue", sans-serif;
}
@mixin color(){
	width:20px;
	height:20px;
	border-radius:10px;
	position:relative;
}
*{
	box-sizing:border-box;
}
div{
    overflow:hidden;
}
html{
    height:100%;
}
body{
	margin:0;
	padding:0;
    height:100%;
	font-weight:300;
    font-size:1.2em;
    background-color:#f5f5f5;
	box-sizing:border-box;
    @include font-open;
}
h1,h2,h3,h4,h5,h6{
    @include font-bebas;
}
h1{
    font-size:2.0em;
    letter-spacing:.1em;
    
}
h2{
    font-size:1.6em;
    letter-spacing:.1em;
}
h3{
    font-size:1.4em;
    letter-spacing:.1em;
}
p{
    font-size:1.0em;
    line-height:1.5em;
    color:$granite;
}

/* GRID SYSTEM 
-------------------------------------------------------*/
.grid{
    overflow:hidden;
    margin:20px auto;
    div{
        float:left;
    }
    .clear{
        clear:both;
    }
    .grid-1-1{
        width:100%;
    }
	.grid-1-2{
		width:50%;
	}
    .grid-1-2:nth-child(odd){
        padding-left:0px;
        padding-right:20px;
    }
    .grid-1-2:nth-child(even){
        padding-left:20px;
        padding-right:0px;
    }
	.grid-1-3{
		width:33.33333333%;
	}
    .grid-1-3:nth-child(3n-1){
        padding-left:20px;
        padding-right:20px;
    }
    .grid-1-3:nth-child(3n-2){
        padding-right:20px;
        padding-left:0px;
    }
    .grid-1-3:nth-child(3n){
        padding-right:0px;
        padding-left:20px;
    }
	.grid-1-4{
		width:25%;
	}
    .grid-1-4:nth-child(4n-3){
        padding-right:20px;
        padding-left:0px;
    }
    .grid-1-4:nth-child(4n){
        padding-right:0px;
        padding-left:20px;
    }
    .grid-1-4:nth-child(4n-1), .grid-1-4:nth-child(4n-2){
        padding-right:20px;
        padding-left:20px;
    }
	.grid-1-6{
		width:(1/6) * 100%;
        padding-left:10px;
        padding-right:10px;
	}
	.grid-1-8{
		width:12.5%;
	}
	.grid-1-12{
		width:8.333333333%;
	}
	.grid-2-3{
		width:66.66666666%;
	}
	.grid-5-6{
		width:83.33333333%;
	}
	.grid-3-8{
		width:37.5%;	
	}
	.grid-5-8{
		width:62.5%;
	}
	.grid-5-12{
		width:41.666666666%;
	}
	.grid-7-12{
		width:58.333333333%;
	}
	.grid-11-12{
		width:91.666666666%;
	}
}


/*  Style guide  */

.colors{
	overflow:hidden;
}
.colors > div{
	float:left;
	margin-right:40px;
    overflow:visible;
}
.color{
	display:inline-block;
    overflow:visible;
	margin:5px;

}
.color div{
	@include color;
	@include transition(.3s); 
}
.color div:hover{
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}


.faux-column{
    max-width:1600px;
    width:100%;
    margin:0 auto;
}

/* footer styles */
footer{
    margin-top:120px;
    background-color: $dark-gray;
    height:200px;
}


/* Main container styles */
.container{
    max-width:1200px;
    width:100%;
    background-color:$white;
    padding:40px;
    margin:0 auto;
    border-bottom: $primary-color solid 10px;
}
.page{
    display:block;
    background:url('../../img/hero-bg.jpg') no-repeat;
    background-position: 0 100px;
    padding-top:100px;
}

/* Heading styles */
.heading{
    text-align:center;
    margin: 120px 0;
    h1{
        font-size:3em; 
        color:$primary-color;
        text-shadow: 1px 3px 0px rgba(0,0,0,.75);
        margin:0;
        letter-spacing:.1em;
    }
    p{
        color:$white;
        text-shadow: 1px 2px 0 rgba(0,0,0,.75);
    }
}


/* Top navigation styles */
.top-nav{
    width:100%;
    height: 100px;
    position:fixed;
    background-color:$white;
    box-shadow: 0 20px 20px rgba(0,0,0,.05);
    .logo{
        float:left;
        width:50%;
        svg{
            float:left;
            width:80px;
            height:80px;
            margin:10px 10px;
        }
        .logo-hover{
            @include transition(.3s);
        }
        h2{
            @include font-bebas;
            float:left;
            font-size:1.8em;
            margin:30px 0 30px 0;
            letter-spacing:.05em;
            vertical-align:middle;
            @include transition(.3s);
        }
        a{
            color:$black;
        }
        a::visited{
            color:$black;
        }
    }
    .logo:hover{
        cursor:pointer;
        .logo-hover{
            stroke:$primary-color;
        }
        h2{
            //color:$primary-color;
        }
    }
    .top-nav__menu{
        width:50%;
        float:left;
        ul{
            float:right;
            display:flex;
            width:600px;
            height:100px;
            line-height:100px;
            margin:0;
            li{
                @include font-bebas;
                font-size:1.4em;
                letter-spacing:.1em;
                display:inline-flex;
                flex-wrap:wrap;
                flex-grow:1;
                a{
                    text-decoration:none;
                    color:$black;
                    @include transition(.3s);
                }
                a:hover{
                    color:$primary-color;
                }
            }
        }
    }
    /* Common styles for all menus */

}

@media screen and (max-width:1150px){
    .top-nav{
        height:auto;
        .logo, .top-nav__menu{
            width:100%;
        }
        .top-nav__menu{
            .menu{
                 margin-top:0;
                margin: 0em 0 .2em;
            }
        }
    }
}