* {
  box-sizing: border-box; }

div {
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.2em;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  font-family: "Lato", sans-serif; }

.main {
  padding: 40px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin: 20px auto;
  background-color: #ffffff; }

header, h1, h2, h3 {
  font-family: "Oxygen", sans-serif; }

h1 {
  font-size: 2.2em;
  font-weight: 700;
  color: #232323; }

h2 {
  color: #232323;
  font-size: 1.6em;
  font-weight: 400; }

h3 {
  color: #232323;
  font-size: 1.3em;
  font-weight: 400; }

p {
  color: #5b646c;
  line-height: 1.4em;
  font-size: 1em;
  font-weight: 300; }

a {
  color: #6F9196;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

a:hover {
  color: #B5C4C7; }

ul {
  padding: 0; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.center {
  margin: 0 auto;
  text-align: center;
  display: block; }

/* GRID SYSTEM 
-------------------------------------------------------*/
.grid {
  overflow: hidden; }
  .grid div {
    float: left; }
  .grid .clear {
    clear: both; }
  .grid .grid-1-2 {
    width: 50%; }
  .grid .grid-1-2:nth-child(odd) {
    padding-left: 0px;
    padding-right: 20px; }
  .grid .grid-1-2:nth-child(even) {
    padding-left: 20px;
    padding-right: 0px; }
  .grid .grid-1-3 {
    width: 33.33333333%; }
  .grid .grid-1-3:nth-child(3n-1) {
    padding-left: 20px;
    padding-right: 20px; }
  .grid .grid-1-3:nth-child(3n-2) {
    padding-right: 20px;
    padding-left: 0px; }
  .grid .grid-1-3:nth-child(3n) {
    padding-right: 0px;
    padding-left: 20px; }
  .grid .grid-1-4 {
    width: 25%; }
  .grid .grid-1-6 {
    width: 16.66666666%; }
  .grid .grid-1-8 {
    width: 12.5%; }
  .grid .grid-1-12 {
    width: 8.333333333%; }
  .grid .grid-2-3 {
    width: 66.66666666%; }
  .grid .grid-5-6 {
    width: 83.33333333%; }
  .grid .grid-3-8 {
    width: 37.5%; }
  .grid .grid-5-8 {
    width: 62.5%; }
  .grid .grid-5-12 {
    width: 41.666666666%; }
  .grid .grid-7-12 {
    width: 58.333333333%; }
  .grid .grid-11-12 {
    width: 91.666666666%; }

/*  Style guide  */
.colors {
  overflow: hidden; }

.colors > div {
  float: left;
  margin-right: 40px;
  overflow: visible; }

.color {
  display: inline-block;
  overflow: visible;
  margin: 5px; }
  .color .blue {
    background-color: #6F9196; }
  .color .blue-bering {
    background-color: #8EA0A3; }
  .color .blue-slate {
    background-color: #B5C4C7; }
  .color .blue-sapphire {
    background-color: #0793E8; }
  .color .blue-seashore {
    background-color: #13BBFF; }
  .color .red-crimson {
    background-color: #f22f2f; }
  .color .red-salmon {
    background-color: #e45d5d; }
  .color .red-love {
    background-color: #f7c7c7; }
  .color .green-lush {
    background-color: #5fda68; }
  .color .green-lime {
    background-color: #a5ef9f; }
  .color .gray-granite {
    background-color: #232323; }
  .color .gray-doom {
    background-color: #5b646c; }
  .color .white-off {
    background-color: #f5f5f5; }

.color div {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.color div:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5); }

/* INPUT STYLES 
----------------------------------------------------*/
input, textarea {
  outline: none;
  margin: 5px 0 10px 0px;
  width: 100%;
  color: #ddd;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05) inset;
  padding: 15px;
  font-size: 1em;
  font-weight: 300;
  display: inline-block;
  border-radius: 5px;
  font-family: "Roboto", sans-serif; }

.inputs {
  margin-top: 20px;
  width: 100%; }

textarea {
  height: 300px; }

label {
  font-family: "Oxygen", sans-serif;
  text-transform: uppercase;
  color: #5b646c;
  font-size: 10px;
  margin-top: 10px; }

input[type="text"], input[type="text"].error, input[type="password"], input[type="email"], textarea {
  background-color: #f5f5f5;
  letter-spacing: 1px;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

input[type="text"].error {
  background-color: #f9eded;
  color: #f7c7c7;
  border: 1px solid #f7c7c7; }

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
  border: 1px solid #7f8f92;
  color: #7f8f92; }

input[type="text"].error:focus {
  color: #f22f2f;
  background-color: #f7c7c7;
  border: 1px solid #f22f2f; }

/* NAVIGATION STYLES
----------------------------------------------------------*/
.top-nav {
  width: 100%;
  background-color: #232323;
  color: #f5f5f5;
  padding: 10px 0; }
  .top-nav a {
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .top-nav a:hover {
    color: #B5C4C7; }

.top-nav__list li {
  display: inline-block;
  list-style: none;
  padding: 0 40px 0 0; }

/* FOOTER STYLES 
----------------------------------------------------------*/
footer {
  background-color: #B5C4C7;
  border-top: 5px #7f8f92 solid;
  margin-top: 20px;
  padding: 20px;
  color: #465254;
  font-size: .7em; }
  footer ul {
    list-style: none; }
    footer ul li {
      display: inline-block;
      margin-right: 40px; }

/* BUTTON STYLES
-----------------------------------------------------------*/
.btn {
  border-radius: 8px;
  padding: 10px;
  background-color: #FFEEA8;
  border: 5px solid #FFEEA8;
  display: block;
  width: 200px; }

.btn__ghost {
  background-color: transparent;
  color: #FFEEA8;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.2); }

/* IMAGE STYLES 
-----------------------------------------------------------*/
/* hero image */
.hero-img {
  background-image: url("../img/hero.png");
  background-size: cover;
  height: 423px;
  text-align: center;
  padding: 20px 0 0 0;
  margin: 0 0 40px 0; }
  .hero-img h1, .hero-img p {
    color: #ffffff; }
  .hero-img h1 {
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2); }
  .hero-img p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
  .hero-img .logo {
    width: 100px;
    margin: 20px auto 0 auto;
    display: block; }

.featured {
  max-width: 1000px; }
  .featured img {
    width: 150px; }
  .featured h3 {
    color: #6F9196; }

/*# sourceMappingURL=main.css.map */
