$blue: #608798;
$blue-bering: #8EA0A3;
$blue-slate: #B5C4C7;
$blue-shale: #7f8f92;
$blue-sapphire: #0793E8;
$blue-seashore: #25b7d3;
$red-crimson: #f22f2f;
$red-salmon: #e04f5f;
$red-love: #e85767;
$green-seafoam: #32bea6;
$green-pine: #229a85;
$yellow-canary: #f0ef86;
$yellow-custard: #f6f595;
$tan: #DBD5BF;
$gray-granite: #232323;
$gray-doom: #444444;
$white-off: #dddddd;
$white: #ffffff;

@font-face {
    font-family: 'BebasNeue';
    src: url("../fonts/BebasNeue Regular.otf");
}
@font-face {
    font-family: 'Open';
    src: url("../fonts/OpenSans-Regular.ttf");
}

@mixin transition($time){
	-webkit-transition: all $time;
	-moz-transition: all $time;
	-o-transition: all $time;
	transition: all $time;
}
@mixin font-open(){
    font-family: "Open", sans-serif;
}
@mixin font-bebas(){
    font-family: "BebasNeue", sans-serif;
}
@mixin color(){
	width:20px;
	height:20px;
	border-radius:10px;
	position:relative;
}
*{
	box-sizing:border-box;
}
div{
    overflow:hidden;
}
html{
    height:100%;
}
body{
	margin:0;
	padding:0;
    height:100%;
	font-weight:300;
    font-size:1.2em;
	box-sizing:border-box;
    background:url('../../img/hero-bg.jpg');
    @include font-open;
}
h1,h2,h3,h4,h5,h6{
    @include font-bebas;
}
 

/* GRID SYSTEM 
-------------------------------------------------------*/
.grid{
    overflow:hidden;
    margin:20px auto;
    div{
        float:left;
    }
    .clear{
        clear:both;
    }
    .grid-1-1{
        width:100%;
    }
	.grid-1-2{
		width:50%;
	}
    .grid-1-2:nth-child(odd){
        padding-left:0px;
        padding-right:20px;
    }
    .grid-1-2:nth-child(even){
        padding-left:20px;
        padding-right:0px;
    }
	.grid-1-3{
		width:33.33333333%;
	}
    .grid-1-3:nth-child(3n-1){
        padding-left:20px;
        padding-right:20px;
    }
    .grid-1-3:nth-child(3n-2){
        padding-right:20px;
        padding-left:0px;
    }
    .grid-1-3:nth-child(3n){
        padding-right:0px;
        padding-left:20px;
    }
	.grid-1-4{
		width:25%;
	}
    .grid-1-4:nth-child(4n-3){
        padding-right:20px;
        padding-left:0px;
    }
    .grid-1-4:nth-child(4n){
        padding-right:0px;
        padding-left:20px;
    }
    .grid-1-4:nth-child(4n-1), .grid-1-4:nth-child(4n-2){
        padding-right:20px;
        padding-left:20px;
    }
	.grid-1-6{
		width:(1/6) * 100%;
        padding-left:10px;
        padding-right:10px;
	}
	.grid-1-8{
		width:12.5%;
	}
	.grid-1-12{
		width:8.333333333%;
	}
	.grid-2-3{
		width:66.66666666%;
	}
	.grid-5-6{
		width:83.33333333%;
	}
	.grid-3-8{
		width:37.5%;	
	}
	.grid-5-8{
		width:62.5%;
	}
	.grid-5-12{
		width:41.666666666%;
	}
	.grid-7-12{
		width:58.333333333%;
	}
	.grid-11-12{
		width:91.666666666%;
	}
}


/*  Style guide  */

.colors{
	overflow:hidden;
}
.colors > div{
	float:left;
	margin-right:40px;
    overflow:visible;
}
.color{
	display:inline-block;
    overflow:visible;
	margin:5px;
		.blue{
			background-color:$blue;
		}
		.blue-bering{
			background-color:$blue-bering;
		}
		.blue-slate{
			background-color:$blue-slate;
		}
		.blue-sapphire{
			background-color:$blue-sapphire;
		}
		.blue-seashore{
			background-color:$blue-seashore;
		}
		.red-crimson{
			background-color:$red-crimson;
		}
		.red-salmon{
			background-color:$red-salmon;
		}
		.red-love{
			background-color:$red-love;
		}
		.green-seafoam{
			background-color:$green-seafoam;
		}
		.green-pine{
			background-color:$green-pine;
		}
		.gray-granite{
			background-color:$gray-granite;
		}
		.gray-doom{
			background-color:$gray-doom;
		}

		.white-off{
			background-color:$white-off;
		}
}
.color div{
	@include color;
	@include transition(.3s); 
}
.color div:hover{
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}