@import "partials/grid";
@import "partials/mixins";
@import "partials/navigation";
@import "partials/reset";
@import "partials/variables";
@import "partials/typography";
@import "partials/buttons";

@mixin color(){
	width:20px;
	height:20px;
	border-radius:10px;
	position:relative;
}

html{
    height:100%;
}
div{
    overflow:hidden;
}
body{
	margin:0;
	padding:0;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
	font-weight:300;
    font-size:1.2em;
    background-color:#eeeeee;
	box-sizing:border-box;
    @include font-open;
}
h1,h2,h3,h4,h5,h6{
    margin: 1.5em 0 1em 0;
    color:$secondary-color;
    @include font-bebas;
}
h1{
    font-size:1.8em;
    
}
h2{
    font-size:1.4em;
    @include font-rubikmedium;
}
h3{
    font-size:1.2em;
}
p{
    margin:1em 0;
    font-size:1.0em;
    line-height:2em;
    color:$granite;
}
hr{
    margin:0 auto;
    width:70%;
    opacity:.5;
    border:none;
    border-bottom: 1px solid $secondary-color-light;
}

/* Typography */ 



/*  Style guide  */

.colors{
	overflow:hidden;
}
.colors > div{
	float:left;
	margin-right:40px;
    overflow:visible;
}
.color{
	display:inline-block;
    overflow:visible;
	margin:5px;

}
.color div{
	@include color;
	@include transition(all, .3s); 
}
.color div:hover{
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}


.faux-column{
    max-width:1200px;
    width:100%;
    margin:0 auto;
    overflow:visible;
}
.full-width{
    width:100%;
}
.col-left, .col-right{
    width:50%;
    box-sizing:border-box;
}
.col-left{
    padding:0 20px 0 0;
    float:left;
}
.col-right{
    padding: 0 0 0 20px;
    float:right;
}

/* footer styles */
footer{
    @include font-rubiklight;
    padding:50px;
    background-color: $dark-gray;
    overflow:hidden;
    .footer__menu{
        float:left;
        width:75%;
        li{
            display:inline-block;
            padding-right:60px;
            a{
                text-decoration:none;
                color:$granite;
                @include transition(color, .3s);
            }
            a:hover{
                color:$primary-color;
            }
        }
    }
    .social-media{
        float:right;
        width:25%;
        li{
            float:right;
            display:inline-block;
            padding-left:15px;
            svg{
                fill:$granite;
                width:20px;
                height:20px;
                @include transition(all, .3s);
                &:hover{
                    fill:$primary-color;
                }
            }
        }
    }
} 


/* Main container styles */
.container{
    position:relative;
    overflow:visible;
    padding:0 0 60px 0;
    top:50px;
    opacity:0;
    max-width:1200px;
    width:100%;
    margin:0 auto;
    .container--padding{ 
        padding:40px 60px; 
        width:100%;
    }
    &#contact{
        background:none;
    }
    &#container__tech{
        //background:rgba(250,250,250,100);
        max-width:100%;
        top:0px;
        .tech{
            text-align:center;
            padding-top:30px;
            overflow:visible;
            img{
                width:75px;
                height:75px;
                //-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
                //filter: grayscale(100%);
                //@include transition(.3s);
            }
            .grid-1-3{
                opacity:0.0;
                position:relative;
                top:100px;
                div{
                    background:$white; 
                    padding:30px;
                }
                &:hover{
                    img{
                        //-webkit-filter:none;
                        //filter:none;
                    }
                }
            }
        }
        .grid-1-3{ 
            border-radius:10px;
//            &:nth-child(2n){
//                border-radius: 40px 0 40px 0;
//            }
//            &:nth-child(2n+1){
//                border-radius: 0 40px 0 40px;
//            }
        }
    }
    &#portfolio-intro{
        margin-top:150px;
        opacity:1;
        background:none;
        p{
            color:$white;
        }
    }
    &#portfolio-gmf,
    &#portfolio-lokmor{
        border-radius:0px;
        background:none;
        color:$white;
        img{
            width:100%;
            max-width:1200px;
            margin:0 auto;
        }
        h1{
            color:$white;
            text-align:left;
            position:relative;
            top:50px;
            //@include rotate(-5.5);
        }
        p{
            color:$white;
            position:relative;
            top:-75px;
        }
    }
    &#portfolio-lokmor{
        text-align:right;
        h1{
            //@include rotate(10);
            top:0px;
        }
        p{
            width:70%;
            float:right;
        }
    }
    &#portfolio-gmf{
        text-align:center;
        .btn-ghost:hover{
            color:$gmf-blue;
            text-align:center;
            border-radius:40px;
        }
        p{
            width:70%;
            text-align:left;
        }
    }
}

.page{
    min-height:1000px;
    display:block;
    padding:100px 0;
    &#portfolio{
        padding-top:70px;
        min-height:400px;
        background-color:$green;
    }
    &#lokmor{
        background-color:$lokmor-red
    }
    &#gmf{
        background:$gmf-blue;
        padding-top:0;
    }
    &#about{
        //position:relative;
    }
    &#about,
    &#contact{
        background-size:cover;

    }
}

// Load smaller images for mobile and non-retina
@media screen and (min-width: 1920px){
    .page#about,
    .page#contact{
        //background:url('../img/hero-bg-2880-1920.png') no-repeat fixed;
        background-position: 0 0;
        background-size:cover;
    }
}
@media screen and (max-width: 1920px){
    .page#about,
    .page#contact{
        //background:url('../img/hero-bg-1920-1280.png') no-repeat fixed;
        background-position: 0 -200px;
        background-size:cover;
    }
}
@media screen and (max-width: 1280px){
    .page#about,
    .page#contact{
        //background:url('../img/hero-bg-1024-683.png') no-repeat fixed;
        background-position: 0 0px;
        background-size:cover;
    }
}

// Scroll down arrow styles
.arrow-down{
    position:fixed;
    width:70px;
    height:70px;
    border-radius:35px;
    background:$white;
    bottom:30px;
    left:50%;
    margin-left:-35px;
    text-align:center;
    animation-name:arrow-down;
    animation-duration:1s;
    animation-iteration-count: infinite;
    svg{
        width:50px;
        top:17px;
        position:relative;
    }
    p{
        @include font-bebas;
        color:$secondary-color;
        font-size:.8em;
        margin:0;
        position:relative;
        top:7px;
    }
}
@keyframes arrow-down{
    0%{
        bottom:30px;
    }
    50%{
        bottom:35px;
    }
    100%{
        bottom:30px;
    }
}

/* Heading styles */
.heading{
    text-align:center;
    margin: 150px 0 160px 0;
    img{
        width:200px;
        border-radius:100px;
        //border:5px solid $tertiary-color;
        opacity:0.0;
    }
    h1{
        font-size:2.2em; 
        //font-family: 'Source Code Pro';
        @include font-bebas;
        letter-spacing:2px;
        color:$secondary-color;
        text-shadow: 2px 2px 1px rgba(0,0,0,.0);
        margin:.5em 0 0 0;
    }
    p{
        color:$white;
        text-shadow: 1px 1px 0 rgba(0,0,0,.50);
    }
    .rotating_text{
        color:$tertiary-color;
        font-weight:700;
    }
}


/* Top navigation styles */
.top-nav{
    width:100%;
    height: 70px;
    position:fixed;
    background-color:none;
    z-index:2;
    @include transition(all, .2s);
    &.top-nav__portfolio{
        background:$white;
    }
    .logo{
        float:left;
        svg{
            float:left;
            width:50px;
            height:50px;
            margin:10px 10px;
            stroke:$secondary-color;  
        }
        .logo-hover{
            @include transition(all, .3s);
        }
        h2{
            @include font-bebas;
            float:left;
            font-size:1.8em;
            margin:30px 0 30px 0;
            letter-spacing:.05em;
            vertical-align:middle;
            @include transition(all, .3s);
        }
        a{
            color:$black;
        }
        a::visited{
            color:$black;
        }
    }
    .logo a:hover{
        cursor:pointer;
        .logo-hover{
            stroke:$primary-color;
        }
        h2{
            //color:$primary-color;
        }
    }
    .top-nav__menu{
        float:right;
        ul{
            float:right;
            display:flex;
            width:500px;
            height:70px;
            line-height:70px;
            margin:0;
            li{
                @include font-bebas;
                margin:0 10px;
                font-size:1.0em;
                display:inline-flex;
                flex-wrap:wrap;
                flex-grow:1;
                a{
                    text-decoration:none;
                    color:$secondary-color;
                    display:block;
                    width:100%;
                    text-align:center; 
                    @include transition(all, .3s);
                    .top-nav__menu-highlight{
                        position:relative;
                        top:-3px;
                        height:3px;
                        width:0%;
                        @include transition(all, .3s);
                        background-color:$primary-color;
                    }
                }
                a:hover{
                    color:$primary-color;
                    .top-nav__menu-highlight{
                        width:100%;
                    }
                }
            }
        }
    }
    /* Common styles for all menus */
}
.top-nav__scrolled{
    background-color:$white;
    color:$secondary-color;
    box-shadow: 0 3px 3px rgba(0,0,0,.05);
    border-bottom:none;
    .logo{
        svg{
            stroke:$secondary-color;
        }
    }
    .top-nav__menu{
        ul{
            li{
                a{
                    color:$secondary-color;
                }
            }
        }
    }
}

/* Input Styles */

label{
    color: $secondary-color-light;
    position:relative;
    cursor:text;
    top:52px;
    font-size:.8em;
    font-weight:700;
    @include transition(.3s);
}
.label-focus{
    top:25px;
    font-size:.6em;
    color:$primary-color;
}
.label-focus-filled{
    color:$secondary-color-light;
}
input, textarea{
    @include font-open;
    @include transition(".3s");
    outline:none;
    background:none;
    color:$secondary-color;
    margin: 0 0 40px 0;
    &[type=text], &[type=password], &[type=email]{
        padding:30px 15px 10px 0px;
        font-size:1.0em;
        font-weight:bold;
        width:100%;
        border:none;
        border-bottom:1px solid $secondary-color;
       
        &:focus{
            border-bottom: 1px solid $primary-color;
        }
    }
    &:focus{
        color:$primary-color;
    }
}
textarea{
    padding:30px 15px 15px 0px;
    resize:none;
    height:200px;
    overflow:visible;
    font-size:1.0em;
    font-weight:bold;
    width:100%;
    border:none;
    border-bottom:1px solid $secondary-color;
    &:focus{
        border-bottom: 1px solid $primary-color;
            &::-webkit-input-placeholder{
                top:-30px;
                font-size:.8em;
                color:$primary-color;
            }
            &::-moz-placeholder{
                top:-30px;
                font-size:.8em;
                color:$primary-color;
            }
            &:-ms-input-placeholder{
                top:-30px;
                font-size:.8em;
                color:$primary-color;
            }
            &:-moz-placeholder{
                top:-30px;
                font-size:.8em;
                color:$primary-color;
            }
    }
    &::-webkit-input-placeholder {
        color: $secondary-color-light;
        position:relative;
        top:0;
        @include transition(.3s);
    }
    &:-moz-placeholder {  /*Firefox 18- */
       color: $secondary-color-light;  
        position:relative;
        top:0;
        @include transition(.3s);
    }
    &::-moz-placeholder {   /*Firefox 19+*/ 
       color: $secondary-color-light; 
        position:relative;
        top:0;
        @include transition(.3s);
    }
    &:-ms-input-placeholder {  
       color: $secondary-color-light;  
        position:relative;
        top:0;
        @include transition(.3s);
    }
}

// typed.js styles
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

// mobile styles begin
@media screen and (max-width:1150px){
    .top-nav{
        height:auto;
        .top-nav__menu{
            .menu{
                 margin-top:0;
                margin: 0em 0 .2em;
            }
        }
    }
    .grid{
        .grid-1-3{
            flex-basis:45%;
        }
    } 
    .container{
        .container--padding{
            padding:0 20px;
        } 
    }
}
@media screen and (max-width:800px){
    .grid{
        .grid-1-3{
            flex-basis:100%;
        }
    }
    .tech{
        .grid-1-3{
            img{
                display:inline-block;
            }
            p{
                display:inline-block;
                margin:0 0 0 20px;
                width:auto;
            }
        }
    }
    .med-text{
        padding:0;
    }
    footer{
        .footer__menu, .social-media{
            width:100%;
        }
        .social-media{
            text-align:center;
            padding-top:20px;
            li{
                float:none;
                padding-right:15px;
                padding-left:0;
            }
        }
        .footer__menu{
            text-align:center;
            padding-bottom:20px;
            border-bottom:1px solid #858585;
        }
    }
}