.blog-post{
  h4{
    font-size:.8em;
    text-align:right;
    color:$light-gray;
    date, time, span{
      color:$granite;
    }
  }
  .related{
    width:100%;
  }
  .tags{
    a{
      background:$bg-color;
      color: $granite;
      // border:1px solid $off-white;
      border-radius:8px;
      padding:12px;
      display:inline-block;
      font-size:.8em;
      @include transition(.2s);
      &:hover{
        color:$primary-color-hover;
      }
    }
  }
  .tags-label{
    font-size:.7em;
    color:$light-gray;
    margin-bottom:5px;
    display:block;
  }
}
