.blog{
  .page{
    margin:0 auto;
    max-width:1400px;
    width:100%;
    .heading{
      margin:200px 0 80px;
    }

    .container{
      margin:0 0 30px 0;
      top:0;
      width:100%;
      max-width:100%;
      box-sizing:border-box;
      .grid:first-of-type{
        margin-top:0px;
        .grid-1-3, .grid-1-2{
          &:nth-child(1), &:nth-child(2){
            margin-top:0px;
          }
        }
      }
      .side-nav{
        width:25%;
        float:left;
        margin:0;
        box-sizing:border-box;
      }
      .front-page, .category, .blog-post{
        .post{
          @include container_style();
          .excerpt{
            font-size:.8em;
          }
          h2{
            margin:0px;
            a{

            }
          }
          date{
            font-size:.6em;
            color:$light-gray;
          }
        }
      }
    }
  }
}
