.blog-post{
  .post-info{
    font-size:.8em;
    color:$light-gray;
    display:inline-block;
    date, time, span{
      color:$granite;
    }
  }
  .avatar{
    border-radius:16px;
    position:relative;
    top: 10px;
    left:10px;
  }
  .related{
    width:100%;
  }
  .tags{
    overflow:visible;
    a{
      background:$white;
      color: $granite;
      border-radius:8px;
      padding:12px;
      display:inline-block;
      font-size:.8em;
      box-shadow:2px 2px 1px rgba(0,0,0,.05);
      @include transition(.2s);
      &:hover{
        color:$primary-color-hover;
        box-shadow:2px 2px 1px rgba(90, 143, 178, .4);
      }
    }
  }
  .tags-label{
    font-size:.7em;
    color:$light-gray;
    margin-bottom:5px;
    display:block;
  }
}
