.blog-post{
  .tags{
    a{
      background:$bg-color;
      border:1px solid $off-white;
      border-radius:8px;
      padding:8px;
      display:inline-block;
      font-size:.8em;
      @include transition(.2s);
      &:hover{
        border:1px solid $primary-color-hover;
      }
    }
  }
  .tags-label{
    font-size:.7em;
    color:$light-gray;
    margin-bottom:5px;
    display:block;
  }
}
