.btn{
    text-decoration:none; 
    letter-spacing:1px;
    &.btn-ghost{
        padding:10px 30px;
        border: 3px solid $white;
        border-radius: 5px;
        color:$white;
        font-weight:700;
        @include transition(.2s);
        &:hover{
            background:$white;
        }
    }
}