.btn{
    @include font-open;
    font-weight:700;
    font-size:.8em;
    text-decoration:none; 
    letter-spacing:1px;
    padding:20px 30px;
    border-radius: 5px;
    border:none;
    &.btn-primary{
        background-color:$primary-color;
        color:$white;
        @include transition(.2s);
    }
    &.btn-primary:hover{
        background-color:$primary-color-hover;
    }
    &.btn-ghost{
        border: 3px solid $white;
        color:$white;
        @include transition(.2s);
        &:hover{
            background:$white;
        }
    }
}