
/* Input Styles */

label{
    color: $secondary-color-light;
    position:relative;
    cursor:text;
    top:52px;
    font-size:.8em;
    font-weight:700;
    @include transition(.3s);
}
.label-focus{
    top:25px;
    font-size:.6em;
    color:$primary-color;
}
.label-focus-filled{
    color:$secondary-color-light;
}
input, textarea{
    @include font-open;
    @include transition(".3s");
    outline:none;
    background:none;
    color:$secondary-color;
    margin: 0 0 40px 0;
    &[type=text], &[type=password], &[type=email]{
        padding:30px 15px 10px 0px;
        font-size:1.0em;
        font-weight:bold;
        width:100%;
        border:none;
        border-bottom:1px solid $secondary-color;

        &:focus{
            border-bottom: 1px solid $primary-color;
        }
    }
    &:focus{
        color:$primary-color;
    }
}
textarea{
    padding:30px 15px 15px 0px;
    resize:none;
    height:200px;
    overflow:visible;
    font-size:1.0em;
    font-weight:bold;
    width:100%;
    border:none;
    border-bottom:1px solid $secondary-color;
    &:focus{
        border-bottom: 1px solid $primary-color;
            &::-webkit-input-placeholder{
                top:-30px;
                font-size:.8em;
                color:$primary-color;
            }
            &::-moz-placeholder{
                top:-30px;
                font-size:.8em;
                color:$primary-color;
            }
            &:-ms-input-placeholder{
                top:-30px;
                font-size:.8em;
                color:$primary-color;
            }
            &:-moz-placeholder{
                top:-30px;
                font-size:.8em;
                color:$primary-color;
            }
    }
    &::-webkit-input-placeholder {
        color: $secondary-color-light;
        position:relative;
        top:0;
        @include transition(.3s);
    }
    &:-moz-placeholder {  /*Firefox 18- */
       color: $secondary-color-light;
        position:relative;
        top:0;
        @include transition(.3s);
    }
    &::-moz-placeholder {   /*Firefox 19+*/
       color: $secondary-color-light;
        position:relative;
        top:0;
        @include transition(.3s);
    }
    &:-ms-input-placeholder {
       color: $secondary-color-light;
        position:relative;
        top:0;
        @include transition(.3s);
    }
}
