.side-nav{
  width:25%;
  float:left;
  margin:0;
  box-sizing:border-box;
  ul{
    h4{
      margin: 30px 0 3px 0;
      color:$granite;
      font-size:1.1em !important;
    }
    &:first-of-type{
      h4{
        margin-top:0px;
      }
    }
    li{
      display:block;
      margin: 5px 0;
      a{
        font-size:.8em;
      }
    }
  }
  @media screen and (max-width:$tablet){
    display:none;
  }
}
