.side-nav{
  ul{
    h4{
      margin: 30px 0 3px 0;
      color:$granite;
    }
    &:first-of-type{
      h4{
        margin-top:0px;
      }
    }
    li{
      display:block;
      margin: 5px 0;
      a{
        font-size:.8em;
      }
    }
  }
}
