@font-face {
    font-family: 'BebasNeue';
    src: url("fonts/adam.otf");
}
@font-face {
    font-family: 'Open';
    src: url("fonts/OpenSans-Regular.ttf");
}

@mixin font-open(){
    font-family: "Open", sans-serif;
}
@mixin font-bebas(){
    font-family: "BebasNeue", sans-serif;
}

.red-highlight{
    color:$tertiary-color;
}
.med-text{
    width:70%;
}
.small-text{
    width:50%;
}
.med-text, .small-text{
    margin:0 auto;
}