@font-face {
    font-family: 'Rubik';
    src: url("fonts/Rubik-Regular.ttf");
}
@font-face{
    font-family: "RubikMedium";
    src: url("fonts/Rubik-Medium.ttf");
}
@font-face{
    font-family: "RubikLight";
    src: url("fonts/Rubik-Light.ttf");
}
@font-face {
    font-family: 'Open';
    src: url("fonts/OpenSans-Regular.ttf");
}
@mixin font-open(){
    font-family: "Open", sans-serif;
}
@mixin font-bebas(){
    font-family: "Rubik", sans-serif;
}
@mixin font-rubikmedium(){
    font-family: "RubikMedium", sans-serif;
}
@mixin font-rubiklight(){
    font-family: "RubikLight", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    margin: 1.5em 0 1em 0;
    color:$secondary-color;
		clear:both;
    @include font-bebas;
}
h1{
    font-size:1.8em;
    letter-spacing:2px;
		width:100%;
}
h2{
    font-size:1.4em;
    @include font-rubiklight;
}
h3{
    font-size:1.2em;
}
h4{
  font-size:1.1em;
}
p{
    margin:1em 0;
    font-size:1.0em;
    line-height:1.6em;
    color:$granite;
    letter-spacing:.5px;
}
a{
	cursor:pointer;
  color:$primary-color;
  text-decoration: none;
  &:hover{
    color:$primary-color-hover;
  }
  &:active{

  }
}
blockquote{
  padding: 20px 0 20px 30px;
  border-left: 5px $light-gray solid;
  font-size:1.2em;
  margin: 40px 20px 40px 20px;

  font-style:italic;
  p{
    color:$granite;
    margin:0px;
  }
}

// list styles
ul{
  color:$granite;
	list-style:disc;
	li{
    //padding: 0 0 0 10px;
		ul{
			list-style: circle;
			li{
				margin:5px 0;
			}
		}
	}
}

strong{
  font-weight:700;
}
i, em{
  font-style:italic;
}
pre{
  text-align:left;
  font-family:"Lucida Console", Monaco, monospace;
  line-height:1.4em;
  border:1px solid $off-white;
  display:block;
  width:auto;
  font-size:.8em;
  border-radius:4px;
  margin: 1.5em 0;
  background:$white;
  color:$black;
  word-wrap:break-word;
  white-space:pre-wrap;
}
.red-highlight{
    color:$tertiary-color;
}
.med-text{
    padding: 0 15%;
}
.small-text{
    font-size:12px;
    color: $light-gray;
}
.med-text, .small-text{
    margin:0 auto;
    width:100%;
}
