/* Color Variables */

$black: #000000;
$primary-color: #2e99bf;//#e73939;
$secondary-color: #ffc952;
$tertiary-color: #ff7473;
$dark-primary-color: #34314c;
$dark-gray: #2f3034;
$granite: #656565;
$light-gray: #b3b3b3;
$white:#ffffff;