/* Color Variables */

$black: #000000;
$white:#ffffff;

//Palette Colors
$primary-color: #2e99bf;//#e73939;
$primary-color-hover: #47b3d9;
$secondary-color: #5f525a;
$secondary-color-light:#92808b;
$tertiary-color: #ff7473;
$dark-primary-color: #34314c;

//Grays
$dark-gray: #2f3034;
$granite: #656565;
$light-gray: #b3b3b3;

//Blues
$gmf-blue: #399ce7;

//Reds
$lokmor-red: #ff5e77;